
.login-banner-background{
  display: flex;
  position: relative;
}

.login-banner{
  position: fixed;
  width: 660px;
  height: 100%;
  padding: 80px 0px 0px 0px;
  padding-left: 65px;
  /* background-color: #f2f2f2; */
  background: linear-gradient(170.14deg, #1B415C -1.25%, #3581B8 92.6%);
  display: flex;
  align-items: flex-end;
}

.login-banner img{
  width: 50vw;
}

.login-form-background{
  margin-left: 658px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
  height: 100vh;
  /* background-color: yellow; */
}

.login-form{
  width: 350px;
  height: 240px;
  /* background-color: red; */
}

.login-form-title{
  width: 100%;
  /* height: 40px; */
  font-size: 24px;
  font-weight: 800;
  text-transform: uppercase;
  padding-bottom: 30px;
  /* background-color: yellow; */
}

.login-form-inputs{
  width: 100%;
  /* height: px; */
  /* background-color: green; */
  display: flex;
  flex-direction: column;
}

.login-form-inputs input{
  border: none;
  outline: none;
  border-bottom: 3px solid black;
  font-size: 20px;
  width: 100%;
  font-family: 'Montserrat';
  font-weight: 600;
  color: #999;
  padding: 10px 0 5px;
  margin-bottom: 10px;
  background-color: #fafafa;
}

.login-form-inputs input:nth-child(2){
  margin-bottom: 30px;
}

.login-form-btns{
  width: 100%;
  height: 50px;
  /* background-color: yellow; */
}

.login-form-btns input{
  width: 100%;
  border-radius: 3px;
  height: 100%;
  border: none;
  cursor: pointer;
  background: linear-gradient(95.95deg, #1B415C 17.4%, #3581B8 91.22%);
  color: white;
  text-transform: uppercase;
  font-family: 'Montserrat';
  font-weight: 800;
  font-size: 20px;
}

.login-form-btns input:disabled{
  background: linear-gradient(95.95deg, #738da0 17.4%, #a8cae2 91.22%);
}

.login-form-erro{
  font-size: .9rem;
  margin-top: -1px;
  font-family: 'Poppins', sans-serif;
  color: red;
  user-select: none;
  /* background: red; */
}