/* OVERLAY */

.modal{
    width: 100%;
    height: 100%;
    background-color: rgba(54, 73, 88, 0.6);
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat';
}



/* MODAL SALA - CADASTRO */

.modal-card-background{
    width: 490px;
    height: 300px;
    border-radius: 3px;
    padding: 20px;
    background-color: white;
}

.modal-card-title{
    width: 100%;
    margin-bottom: 35px;
    /* background-color: red; */
    color: #344A58;
    display: flex;
    justify-content: center;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 24px;
    font-family: 'Montserrat';
}

.modal-card-form{
    width: 100%;
    height: 75%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal-card-form-input-nome::placeholder{
    color: #d1d1d1;
    font-size: 18px;
    font-family: 'Montserrat';
    font-weight: 600;
}

.modal-card-form-input-nome{
    border: none;
    outline: none;
    border-bottom: 3px solid black;
    font-size: 20px;
    width: 100%;
    font-family: 'Montserrat';
    font-weight: 600;
    color: #999;
    padding: 5px 0;
    margin-bottom: 30px;
}

.modal-card-form-input-metragem-andar{
    display: flex;
    width: 100%;
}

.modal-card-form-input-metragem::placeholder{
    color: #d1d1d1;
    font-size: 18px;
    font-family: 'Montserrat';
    font-weight: 600;
}

.modal-card-form-input-metragem{
    border: none;
    outline: none;
    border-bottom: 3px solid black;
    font-size: 20px;
    width: 221px;
    font-family: 'Montserrat';
    font-weight: 600;
    color: #999;
    padding: 5px 0;
    margin-bottom: 10px;
}

.modal-card-form-input-andar{
    border: none;
    outline: none;
    border-bottom: 3px solid black;
    font-size: 20px;
    width: 221px;
    font-family: 'Montserrat';
    font-weight: 600;
    color: #999;
    padding: 5px 0;
    margin-bottom: 10px;
    margin-left: 15px;
}

.modal-card-form-btns{
    width: 100%;
    height: 40%;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
}

.modal-card-form-btns-btn{
    width: 221px;
    height: 50px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    color: white;
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.modal-card-form-btns-btn:nth-child(1){
    background-color: #3581B8;
}

.modal-card-form-btns-btn:nth-child(2){
    background-color: #455A64;
}



/* MODAL SALA - INFORMAÇÕES */

.modal-card-background-info-salas{
    width: 690px;
    height: 500px;
    border-radius: 3px;
    padding: 20px;
    background-color: white;
}

.modal-card-content-info-header{
    width: 100%;
    height: 120px;
    margin-bottom: 15px;
    /* background-color: red; */
    display: flex;
}

.modal-card-content-info-header-text{
    height: 100%;
    flex: 2;
    margin-right: 10px;
    /* background-color: yellow; */
    display: flex;
    align-items: flex-end;
}

.modal-card-content-info-header-text-nome{
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    font-size: 20px;
    font-weight: 600;
    /* background-color: red; */
}

.modal-card-content-info-header-btns{
    height: 100%;
    flex: 1;
    /* background-color: blue; */
}

.modal-card-content-info-header-btns-cancel{
    height: 30px;
    width: 100%;
    /* background-color: green; */
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 10px;
}

.modal-card-content-info-header-btns-cancel button{
    border: none;
    cursor: pointer;
    color: #344A58;
    font-weight: 700;
    font-size: 25px;
    font-family: 'Montserrat';
    background-color: white;
}

.modal-card-content-info-header-btns-btn{
    display: flex;
    width: 100%;
    height: 80px;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: red; */
}

.modal-card-content-info-header-btns-btn button{
    width: 100%;
    height: 38px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    color: white;
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.modal-card-content-info-header-btns-btn button:nth-child(1){
    background-color: #1B415C;
}

.modal-card-content-info-header-btns-btn button:nth-child(2){
    background-color: #FF0E48;
}

.modal-card-info-line{
    height: 3px;
    width: 100%;
    background-color: black;
}

.modal-card-content-info-lista-equipamentos{
    margin-top: 15px;
    width: 100%;
    height: 305px;
    /* background-color: red; */
}

.modal-card-content-info-lista-equipamentos-header{
    width: 100%;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
    /* background-color: yellow; */
}

.modal-card-content-info-lista-equipamentos-lista{
    width: 100%;
    height: 88%;
    /* background-color: green; */
    overflow: auto;
}

.modal-card-content-info-lista-equipamentos-lista-card{
    width: 98%;
    height: 80px;
    border-radius: 3px;
    margin-top: 10px;
    border: 1px solid #999;
    display: flex;
}

.modal-card-content-info-lista-equipamentos-lista-card-lateral{
    width: 70px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background: linear-gradient(170.14deg, #1B415C -1.25%, #3581B8 92.6%);
}

.modal-card-content-info-lista-equipamentos-lista-card-text{
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    /* background-color: red; */
    /* padding: 0px 10px; */
    padding: 0px 20px;
    justify-content: space-between;
}

.modal-card-content-info-lista-equipamentos-lista-card-text-item{
    width: 220px;
    height: 55px;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-left: 10px; */
}

.modal-card-content-info-lista-equipamentos-lista-card-text-item:nth-child(2){
    width: 140px;
    height: 55px;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-left: 10px; */
}

.modal-card-content-info-lista-equipamentos-lista-card-text-item:nth-child(3){
    max-width: 150px;
    height: 55px;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-left: 10px; */
}

.modal-card-content-info-lista-equipamentos-lista-card-text-item-title{
    font-size: 17px;
    font-weight: 600;
    padding-bottom: 5px;
    color: #999;
}

.modal-card-content-info-lista-equipamentos-lista-card-text-item-sub{
    font-size: 17px;
    font-weight: 700;
}

.modal-card-content-info-lista-equipamentos-lista-card-text-item-sub-situacao-disable{
    background-color: #FF0E48;
    color: white;
    height: 40px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    font-weight: 700;
    border-radius: 3px;
}

.modal-card-content-info-lista-equipamentos-lista-card-text-item-sub-situacao{
    background-color: #3581B8;
    color: white;
    height: 40px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    font-weight: 700;
    border-radius: 3px;
}

.modal-card-content-info-lista-equipamentos-lista::-webkit-scrollbar{
    width: 10px;
    background: #fafafa;
}

.modal-card-content-info-lista-equipamentos-lista::-webkit-scrollbar-track{
    background: white;
    margin-top: 10px;
    background-color: #d1d1d1;
    border-radius: 3px;
}

.modal-card-content-info-lista-equipamentos-lista::-webkit-scrollbar-thumb{
    background-color: #999;
    border-radius: 3px;
}